[submodule "third_party/implot"]
	path = third_party/implot
	url = https://github.com/epezent/implot.git
[submodule "python/python/NasdaqCloudDataService-SDK-Python"]
	path = python/python/NasdaqCloudDataService-SDK-Python
	url = https://github.com/Nasdaq/NasdaqCloudDataService-SDK-Python
[submodule "python/NasdaqCloudDataService-SDK-Python"]
	path = python/NasdaqCloudDataService-SDK-Python
	url = https://github.com/Nasdaq/NasdaqCloudDataService-SDK-Python
