# Build artifacts
/build/
/out/
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
NikTrade

# Ignore ImPlot GitHub metadata
third_party/implot/.github/

# IDE/editor files
.vscode/
*.code-workspace
*.suo
*.user
*.ncb
*.vcxproj.user
*.log
imgui.ini

# vcpkg files
/vcpkg_installed/

# Cmake files
CMakeUserPresets.json

# Generated data / API responses
AAPL_2025.json
SPY_2025.json
QQQ_2025.json

# Temporary files
*.tmp
*.bak
*.swp
